.hotspot{
    position: absolute;
    color: magenta;
    min-width: 75px;
    min-height: 75px;
    background-color: rgba($color: #ff73d0, $alpha: 0.3);
    display: flex;
    align-items: center;
    pointer-events: painted;
    z-index: 100;
    
    &:hover{
        cursor: grab;
    }
    svg{
        display: block;
        margin: auto;
        fill: #dbdbdb;
        
    }
}
